.l1 {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 0px 20px 330px;
}

.l2 {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 0px 20px 330px;
}

.l3 {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 0px 20px 330px;
    display: inline;
}